extends layout

block content
  h1= title
  - let dessertid = toShow._id
  - let dessertname = toShow.name
  - let dessertrating = toShow.rating
  - let dessertcolor = toShow.color
  div
    div.row
      div(class='dessertAttr mr-3') Dessert ID is:
      div #{dessertid}
    div.row
      div(class='dessertAttr mr-3') Dessert Name is:
      div #{dessertname}
    div.row
      div(class='dessertAttr mr-3') Dessert Rating is:
      div #{dessertrating}
    div.row
      div(class='dessertAttr mr-3') Dessert Color is:
      div #{dessertcolor}