extends layout

block content
  h1= title

  button(class="btn btn-primary" onclick=`dispatch(\"/resource/create\")`) Create a New Dessert

  div(class='container-fluid')
    div(class='col m-1')
      each dessert in results 
        - let destination = `dispatch(\"/resource/update?id=${dessert._id}\")`
        div(class='row-sm-2') name: #{dessert.name} rating: #{dessert.rating} color: #{dessert.color}
          button(class="btn btn-primary ml-1", onclick=destination) Update
          button(class="btn btn-primary ml-1", onclick=`dispatch(\"/resource/detail?id=${dessert._id}\")`) Details
          button(class="btn btn-primary ml-1", onclick=`dispatch(\"/resource/delete?id=${dessert._id}\")`) Delete

  script.
    function dispatch(path){
      window.location.href=path
    } 
